
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: #b6b7bc url('assets/images/fundo_comando.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: .80em;
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #696969;
}

.cardform {
  background: #b6b7bc url('assets/images/fundo_comandoClaro.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0.5rem;
  border-radius: 8px;
  color: #000000;
 }

button {
  background-color: #00ff00;
  border: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}

input, select {
  background: #222;
  color: #fff;
  border: 1px solid #444;
  padding: 0.5rem;
  margin: 0.3rem 0;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

label {
  color: #fff;
}

.text-muted {
  color: #bbb7b7;
}



